.authorizedMessage {
  cursor: default;
  position: absolute;
transform: translate(-50%);
  left: 50%;
  top: -50%;
  transition: .7s;
  padding: 10px 20px 20px 20px;
  background: var(--text-default);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: var(--text-reverse-default);
  box-shadow: 0 2px 8px rgba(183, 183, 183, 0.4);
}

.authorizedMessageActive {
  top: 0;
  left: 50%;
  transition: .7s;
  color: var(--text-reverse-default);
}


.authBody {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  visibility: visible;
  opacity: 1;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .4s ease-in-out;

  .authWrapper {
    cursor: default;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--panel-background-default);
    box-shadow: 0 2px 8px var(--icon-shadow-color-default);
    border-radius: 20px;
    text-align: center;

    p {
      margin-bottom: 10px;
    }

    input {
      min-width: 250px;
      border: none;
      outline: none;
      margin-bottom: 20px;
      border-radius: 20px;
      padding: 7px 5px 7px 10px;
      font-family: Poppins, 'sans-serif';
    }

    button {
      padding: 10px 10px;
      color: white;
      background: #FC8B40;
      border-radius: 10px;
    }

    span {
      margin-top: 10px;
      cursor: pointer;

    }

    .authError {
      display: none;
    }

    .activeError {
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }
}

.authBodyActive {
  visibility: hidden;
  opacity: 0;
  z-index: -100;
}