.gamesPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;


  .inputWrapper {
    padding-left: 10px;
    margin-bottom: 20px;

    p {
      padding-left: 15px;
      margin-bottom: 5px;
    }

    input {
      border-radius: 20px;
      outline: none;
      border: none;
      padding: 5px 20px 7px 15px;
      background: var(--input-default);
      box-shadow: 0 20px 10px var(--icon-shadow-color-default);
      color: var(--text-reverse-default);
      font-size: 20px;
      font-family: Oxanium, sans-serif;
    }
  }


  .gamesCardWrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;

    .gamesCard {
      cursor: pointer;
      padding: 10px 10px 10px 10px;
      background: var(--body-background-user-default);
      box-shadow: 0 2px 8px var(--icon-shadow-color-default);
      border-radius: 20px;
      transition: .5s ease-in-out;
      position: relative;

      img {
        border-radius: 10px;
        max-height: 250px;
        width: 200px;
      }

      h2 {
        font-family: Oxanium, 'sans-serif';
        max-width: 200px;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        line-height: 18px;
        padding-top: 10px;
      }

      p {
        font-family: Rubik, 'sans-serif';
        text-align: center;
        margin-top: 10px;
        font-size: 14px;

      }

      span {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 5px;
        right: 5px;
        transition: .3s;

        svg {
          width: 20px;
          height: 20px;
        }

      }
    }

    .gamesCard:hover {
      transform: scale(1.05);

      span {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}