.onAddedFavorite {
  cursor: default;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
top: -50%;
  transition: .7s;
  padding: 10px 20px 20px 20px;
  background: var(--text-default);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: var(--text-reverse-default);
  box-shadow: 0 2px 8px rgba(183, 183, 183, 0.4);
}

.onAddedFavoriteToggle  {
  top: 5px;
  transition: .7s;
}

.gameDetailWrapper {
  display: flex;
  width: 100%;

  padding: 30px;

  .gameDetailLeft {
    min-width: 18%;
    margin: 0 15px 20px 0;
    img {
      border-radius: 20px;
    }
  }


  .gameDetailRight {
    padding-top: 5px;
    p {
      font-size: 14px;
      padding-top: 10px;
      margin-bottom: 10px;
    }

    span {
      svg {
        margin-right: 5px;
      }
    }

    h3 {
      margin: 15px 0;
    }

    h4 {
      margin-top: 20px;
      cursor: pointer;
      font-size: 13px;
      transition: .3s;
      &:hover {
        color: #FC8B40;
      }
    }

    ul {
      margin-bottom: 15px;

      li {
        font-family: Poppins, 'sans-serif';
        font-size: 14px;
        line-height: 23px;
        font-weight: 350;
      }
    }

    button {
      color: white;
      margin-top: 10px;
      padding: 15px 29px;
      border-radius: 8px;
      background: #FC8B40;
      box-shadow: 0 2px 8px rgb(202 205 219 / 42%);
      font-size: 15px;
      line-height: 25px;
    }
  }

}