.releasedGameWrapper {
  margin-top: 15px;

  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    font-family: Rubik, 'sans-serif';

  }

  .cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (max-width: 1700px) {
      flex-wrap: unset;
      overflow-y: hidden;
      overflow-x: scroll;
      padding: 20px 0;

    }

    .card {
      width: 254px;
      min-height: 96px;
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-right: 15px;
      padding: 10px 28px 10px 10px;
      background: var(--body-background-user-default);
      box-shadow: 0 2px 8px var(--icon-shadow-color-default);
      border-radius: 10px;
      @media (max-width: 1200px) {
        min-height: 100px;
        max-height: 100px;
        margin-right: 20px;
        min-width: 270px;
        width: 300px;
      }

      .left {
        img {
          max-width: 60px;
          width: 60px;
        }
      }

      .right {
        margin-left: 10px;

        h2 {
          font-size: 15px;
          font-weight: 500;
          line-height: 17.78px;
          margin-bottom: 6px;
        }

        p {
          font-size: 12px;
          line-height: 10px;
          font-weight: 500;
          font-family: Poppins, 'sans-serif';
          margin-bottom: 4px;
        }

        span {
          font-family: Poppins, 'sans-serif';
          font-size: 12px;
          font-weight: 300;
          text-align: center;
          display: flex;
          align-items: center;
        }
      }
    }

    .card:last-child {
      @media (max-width: 1200px) {
        margin-right: 0;
      }
    }
  }
}